Hotel Reservation System (HRS)

-A Guest can login

-A Guest can view their dashboard

-A Guest can logout

-A Guest can view available hotel rooms

-A Guest can submit a reservation for a hotel room

-A Guest can review the status for each reservation

-A Guest can raise an issue with the Host

-A Guest can view their replies

-A Guest can view their profile

-A Guest can update their profile

-A Host can login

-A Host can view their dashboard

-A Host can logout

-A Host can approve or deny a reservation

-A Host can upload an image of the hotel room

-A Host can view/resolve issues from Guests

-A Host can view all rooms

-A Host can view all Guests

------------------------------------------------------------------

-A Host can register a Guest, which sends the Guest an email with their Guestname and temp password (optional)

-A Guest can reset their password (optional)

Technologies:

-Servlets

-JDBC

-PL/SQL

-HTML5/CSS3

-Javascript/AJAX

-JUnit

Environment:

-Tomcat Server (localhost or AWS EC2)

-Oracle 11g Database (localhost or AWS RDS)

-Java 1.8