header {
	background: #005622;
	color: #0;
	min-height: 70px;
	padding-top:30px;
	border-top:px;
	padding-left:15px;
	text-align:center;
}

body {
	background: #4286f4;
	margin: 0;
    padding: 0;
	margin-top:0;
	background-image: url(the-shining_1280x720.jpg);
}

footer {
	padding: 20px;
    margin-top: 20px;
    color: #f4f4f4;
    background-color: #e84900;
    text-align: center;
}

.button{
	left: 200px;
	background-color: black;
	color: red;
	padding: 16px 32px;
	border: 2px solid red;
	transition-duration: 0.4s;
	padding:50px;
}

.button:hover {
	background-color: red; /* Green */
    color: black;
	border: 2px solid black;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.show {display:block;}

#dropdownlogin {
	float:right;
}

#dropdownlogin:hover {
	background-color: #2980B9;
}
