
Header {
	color: yellow;
	text-align: center;
}
body {
	background: #4286f4;
	margin: 0;
    padding: 0;
	margin-top:0;
	background-image: url(imgs/the-shining_1280x720.jpg);
}

footer {
	padding: 20px;
    margin-top: 20px;
    color: #f4f4f4;
    background-color: #e84900;
    text-align: center;
}


/* nav bar */
.navbar {
	background-color: black;
	overflow: hidden;
}

.navbarbutton {
	float: left;
	padding: 14px 16px;
	background-color: black;
	color: yellow;
	border: none;
	text-decoration: none;
	font-size: 17px;
}

.navbarbutton:hover {
	float: left;
    background-color: red;
    color: yellow;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
