<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Overlook</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>com.revature.servlets.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/ProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewProfileServlet</servlet-name>
    <servlet-class>com.revature.servlets.NewProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewProfileServlet</servlet-name>
    <url-pattern>/NewprofileServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.revature.servlets.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>*.filter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileConnectedServlet</display-name>
    <servlet-name>ProfileConnectedServlet</servlet-name>
    <servlet-class>com.revature.servlets.ProfileConnectedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileConnectedServlet</servlet-name>
    <url-pattern>/ProfileConnectedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.revature.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashboardServlet</display-name>
    <servlet-name>DashboardServlet</servlet-name>
    <servlet-class>com.revature.servlets.DashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardServlet</servlet-name>
    <url-pattern>/DashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GuestInquiry</servlet-name>
    <servlet-class>com.revature.servlets.GuestInquiryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuestInquiry</servlet-name>
    <url-pattern>/GuestInquiry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HostConnectedServlet</display-name>
    <servlet-name>HostConnectedServlet</servlet-name>
    <servlet-class>com.revature.servlets.HostConnectedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HostConnectedServlet</servlet-name>
    <url-pattern>/HostConnectedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>hostUsersServlet</display-name>
    <servlet-name>hostUsersServlet</servlet-name>
    <servlet-class>com.revature.servlets.hostUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hostUsersServlet</servlet-name>
    <url-pattern>/hostUsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HostInquiryHandlerServlet</display-name>
    <servlet-name>HostInquiryHandlerServlet</servlet-name>
    <servlet-class>com.revature.servlets.HostInquiryHandlerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HostInquiryHandlerServlet</servlet-name>
    <url-pattern>/HostInquiryHandlerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HostResponseServlet</display-name>
    <servlet-name>HostResponseServlet</servlet-name>
    <servlet-class>com.revature.servlets.HostResponseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HostResponseServlet</servlet-name>
    <url-pattern>/HostResponseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GuestMakeInquiryServlet</display-name>
    <servlet-name>GuestMakeInquiryServlet</servlet-name>
    <servlet-class>com.revature.servlets.GuestMakeInquiryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuestMakeInquiryServlet</servlet-name>
    <url-pattern>/GuestMakeInquiryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GuestResponseServlet</display-name>
    <servlet-name>GuestResponseServlet</servlet-name>
    <servlet-class>com.revature.servlets.GuestResponseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuestResponseServlet</servlet-name>
    <url-pattern>/GuestResponseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GuestInquiryHandlerServlet</display-name>
    <servlet-name>GuestInquiryHandlerServlet</servlet-name>
    <servlet-class>com.revature.servlets.GuestInquiryHandlerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuestInquiryHandlerServlet</servlet-name>
    <url-pattern>/GuestInquiryHandlerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GuestConnectedServlet</display-name>
    <servlet-name>GuestConnectedServlet</servlet-name>
    <servlet-class>com.revature.servlets.GuestConnectedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuestConnectedServlet</servlet-name>
    <url-pattern>/GuestConnectedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GuestReservationServlet</display-name>
    <servlet-name>GuestReservationServlet</servlet-name>
    <servlet-class>com.revature.servlets.GuestReservationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuestReservationServlet</servlet-name>
    <url-pattern>/GuestReservationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GuestReservationHandlerServlet</display-name>
    <servlet-name>GuestReservationHandlerServlet</servlet-name>
    <servlet-class>com.revature.servlets.GuestReservationHandlerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuestReservationHandlerServlet</servlet-name>
    <url-pattern>/GuestReservationHandlerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GuestReservationAvailableServlet</display-name>
    <servlet-name>GuestReservationAvailableServlet</servlet-name>
    <servlet-class>com.revature.servlets.GuestReservationAvailableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuestReservationAvailableServlet</servlet-name>
    <url-pattern>/GuestReservationAvailableServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GuestReservationPendingServlet</display-name>
    <servlet-name>GuestReservationPendingServlet</servlet-name>
    <servlet-class>com.revature.servlets.GuestReservationPendingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuestReservationPendingServlet</servlet-name>
    <url-pattern>/GuestReservationPendingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GuestReservationSubmitServlet</display-name>
    <servlet-name>GuestReservationSubmitServlet</servlet-name>
    <servlet-class>com.revature.servlets.GuestReservationSubmitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuestReservationSubmitServlet</servlet-name>
    <url-pattern>/GuestReservationSubmitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HostReservationServlet</display-name>
    <servlet-name>HostReservationServlet</servlet-name>
    <servlet-class>com.revature.servlets.HostReservationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HostReservationServlet</servlet-name>
    <url-pattern>/HostReservationServlet</url-pattern>
  </servlet-mapping>
</web-app>